$paddings: (0px, 4px, 6x, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px, 160px, 192px, 224px, 256px, 320px, 480px, 640px);
$margins: (0px, 4px, 6x, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px, 160px, 192px, 224px, 256px, 320px, 480px, 640px);
$positions: (
  "top": (0px, 4px, 6x, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px, 160px, 192px, 224px, 256px, 320px, 480px, 640px),
  "bottom": (0px, 4px, 6x, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px, 160px, 192px, 224px, 256px, 320px, 480px, 640px),
  "right": (0px, 4px, 6x, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px, 160px, 192px, 224px, 256px, 320px, 480px, 640px),
  "left": (0px, 4px, 6x, 8px, 10px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 64px, 80px, 96px, 128px, 160px, 192px, 224px, 256px, 320px, 480px, 640px)
);
$z-index: (1, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$radius: (2px, 4px, 6x, 8px, 10px, 12px, 16px, 20px);
$font-sizes: (12px, 14px, 16px, 18px, 20px, 24px, 30px, 36px, 48px, 64px);
$colors: (
  "primary": (#8DFCEB, #6EEDD6, #51DBBB, #34CBA3, #2DA47E, #218260, #136243, #084027, #01190D),
  "alternative": (#FDDEBF, #FCD9BA, #FAC7A3, #F6A674, #F37E44, #F05614, #CB3B0B, #9D2707, #6D1503),
  "green": (#8DFCEB, #6EEDD6, #51DBBB, #34CBA3, #2DA47E, #218260, #136243, #084027, #01190D),
  "orange": (#FDDEBF, #FCD9BA, #FAC7A3, #F6A674, #F37E44, #F05614, #CB3B0B, #9D2707, #6D1503),
  "gray": (#EDEDED, #E6E6E6, #C9C9C9, #B0B0B0, #949494, #7A7A7A, #5E5E5E, #454545, #292929),
  "yellow": (#FEFEEB, #FDFDD8, #FBF6B1, #F8ED87, #F6DF60, #F3D139, #F4BF10, #CE9909, #A97504),
  "red": (#FEE2DC, #FBD1CB, #F5A59E, #EC756F, #E53E3E, #D0211B, #A61E11, #771508, #460D02),
  "white": (#FFFFFF, #FCFCFC, #FAFAFA, #F7F7F7, #F5F5F5, #F2F2F2, #F0F0F0, #EDEDED, #EBEBEB)
);


