@import '../../assets/scss/utilities/mixins';
.dish-card {
  @include box-shadow(var(--gray-9));
  background-color: var(--primary-5);
  margin-top: var(--margin-10);
  margin-bottom: var(--margin-10);
  padding: var(--padding-5);
  border-radius: var(--radius-4);
}

.menu-btn {
  padding: var(--padding-4);
  background-color: var(--alternative-5);
  border: none;
  border-radius: var(--radius-5);
}
