.main {
  --main-padding-x: var(--padding-20);
  --main-padding-y: var(--padding-20);
  --main-bg-color: var(--white-8);

  padding-left: var(--main-padding-x);
  padding-right: var(--main-padding-y);
}
