:root {
  @for $i from 1 through length($radius) {
    --radius-#{$i}: #{nth($radius, $i)};
  }
}

@for $i from 1 through length($radius) {
  .border-radius-#{$i} {
    border-radius: nth($radius, $i);
  };
}

@for $i from 1 through length($radius) {
  .border-radius-top-#{$i} {
    border-top-left-radius: nth($radius, $i);
    border-top-right-radius: nth($radius, $i);
  };
}

@for $i from 1 through length($radius) {
  .border-radius-bottom-#{$i} {
    border-bottom-left-radius: nth($radius, $i);
    border-bottom-right-radius: nth($radius, $i);
  };
}

