@for $i from 1 through length($paddings){
  .padding-#{$i}{
    margin: nth($paddings, $i);
  }
}

@for $i from 1 through length($paddings){
  .padding-x-#{$i}{
    margin-left: nth($paddings, $i);
    margin-right: nth($paddings, $i);
  }
}

@for $i from 1 through length($paddings){
  .padding-y-#{$i}{
    margin-top: nth($paddings, $i);
    margin-bottom: nth($paddings, $i);
  }
}

@for $i from 1 through length($paddings){
  .padding-top-#{$i}{
    margin-top: nth($paddings, $i);
  }
}

@for $i from 1 through length($paddings){
  .padding-right-#{$i}{
    margin-right: nth($paddings, $i);
  }
}

@for $i from 1 through length($paddings){
  .padding-bottom-#{$i}{
    margin-bottom: nth($paddings, $i);
  }
}

@for $i from 1 through length($paddings){
  .padding-left-#{$i}{
    margin-left: nth($paddings, $i);
  }
}
