.flex {
  display: flex;
  &--justify-content-center {
    justify-content: center;
  }
  &--align-item-center {
    align-items: center;
  }
  &--direction-column {
    flex-direction: column;
  }
  &--wrap {
    flex-wrap: wrap;
  }
}
