.side-img {
  width: 500px;
}

.key {
  font-weight: bold;
}

.buy-btn{
  width: 100%;
  background-color: var(--primary-5);
  border: none;
  border-radius: var(--radius-2);
  margin-top: var(--margin-5);
  padding: var(--padding-4);
  font-size: var(--font-size-5);
}
