@import
"assets/scss/base/normalize",
"assets/scss/base/reset",
"assets/scss/base/font-family";

@import
"assets/scss/utilities/variables",
"assets/scss/utilities/mixins";

@import
"assets/scss/globals/paddings",
"assets/scss/globals/margins",
"assets/scss/globals/colors",
"assets/scss/globals/font-size",
"assets/scss/globals/border-radius";

@import
"assets/scss/layouts/flex",
"assets/scss/layouts/fit",
"assets/scss/layouts/columns",
"assets/scss/layouts/position";

@import
"assets/scss/components/section",
"assets/scss/components/main",
"assets/scss/components/title",
"assets/scss/components/card",
"assets/scss/components/card-title";
