@import '../../assets/scss/utilities/mixins';

.box-shadow {
  --shadow-color: var(--gray-9);
  @include box-shadow(var(--shadow-color))
}

.category-title {
  text-align: center;
  font-size: var(--font-size-6);
  font-weight: bold;
  background-color: var(--primary-5);
}
