<main class="main">
  <div class="section">
    <div class="title margin-y-10">
      <!--    <div class="banner-gradient"></div>-->
      <!--    <img [src]="heroBanner" alt="banner" class="hero-banner">-->
      Nuestros productos
    </div>
    <div class="columns columns--4 margin-y-8">
      <div *ngFor="let category of categories">
        <div class="margin-9 box-shadow border-radius-5 bg-color-primary-5">
          <img [src]="category.img" alt="image" class="object-fit object-fit--contain border-radius-top-5">
          <div class="category-title padding-y-5 border-radius-bottom-5">{{category.name}}</div>
        </div>
      </div>
    </div>
  </div>
  <app-menu></app-menu>
</main>
